
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Dancing Script', cursive;
}

.text{
    position: relative;
    -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0,0,0,0.2));
}
.text span{
    color: black;
    position: relative;
    display: inline-block;
    font-size: 85px;
    font-weight: 400;
    margin-top: 5rem;
    text-transform:capitalize;
    transition: all 0.2s ease;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.09s * var(--i));

}
@keyframes animate{
    0%{
      transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);

    }
    40%, 100%{
      transform: translateY(0px);
    }
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background 0.2s linear;
}
body.dark{
    background: black;

}
body.dark span{
    color: white;
    
}


.label{
    padding: 5px;
	position: relative;
	height: 48px;
	width: 85px;
    background: #111;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-sun{
    color: orange;
}
.fa-moon{
    color: rgb(85, 85, 85);
}
.ball{
    width: 37px;
    height: 37px;
    position: absolute;
    top: 2;
    left: 2;
    background: white;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.checkbox{
    opacity: 0;
    position: absolute;

}
.checkbox:checked + .label .ball {
    transform: translateX(38px);

}
